body {
	background: #e6e6e5 url('images/bg.png')
}

.success-msg {
	width: 470px;
	border: 2px solid black;
	border-radius: 8px;
	margin: 20% auto;
}

.success-msg p {
	font-size: 20px;
	text-align: center;
}