<style type="text/css">
	@font-face {
  		font-family: "MyriadProRegular";
  		src: url('../css/fonts/myriadpro-regular.eot') format('embedded-opentype'), 
  		url('../css/fonts/myriadpro-regular.woff') format('woff'), 
  		url('../css/fonts/myriadpro-regular.ttf') format('truetype'), 
  		url('../css/fonts/myriadpro-regular.svg#MyriadProRegular') format('svg');
  		font-weight: normal;
  		font-style: normal;
	}

	#countbox {
		padding: 0;
		line-height: 2;
		color: #454545;
		font-weight: bold;
		font-family: MyriadProRegular,Helvetica,sans-serif;
		font-size: 25px;
		width: 265px;
		height: 80px;
  		border-radius: 8px;
  		box-shadow: white 0 1px 10px;
  		margin-left: 30px;
  		padding-left: 5px;
	}
	
	#countbox-days,#countbox-hours,#countbox-mins,#countbox-secs{float: left;text-align: center;background-image:url('../img/flip.png');background-repeat:no-repeat;margin: 5px 12px 0 4px;height: 89px;width: 46px;z-index:1;}
	#countbox-days-text,#countbox-hours-text,#countbox-mins-text,#countbox-secs-text{background-position: left;background-repeat:no-repeat;position: absolute;margin-top: 5px;height: 26px;width: 60px;}
	#countbox-days-text{background-image:url('../img/days_text.png');}
	#countbox-hours-text{background-image:url('../img/hours_text.png');}
	#countbox-mins-text{background-image:url('../img/mins_text.png');}
	#countbox-secs-text{background-image:url('../img/secs_text.png');}
	#countbox-days span, #countbox-hours span, #countbox-mins span, #countbox-secs span {background-repeat:no-repeat;position: absolute;display: block;height: 57px;width: 60px;} 
</style>